body {
  margin: 20;
  padding: 20;
  font-family: sans-serif;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: black;
  background: green;
  font-size: 20px;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}
